.header {
    background-color: var(--color-1);
    color: var(--text-color-1);
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    height: 55px;
    box-shadow: 0px 7px 10px #14173840;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.header-section {
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 600;
    padding: 0 1rem;
}

.header-section-1 {
    display: flex;
    gap: .5rem;
}

.header-section-1 .title {
    font-weight: 800;
    text-transform: uppercase;
}

.header-section-1 .logo img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 2rem;
}

.header-section-2 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.header-section-2 .menu li {
    cursor: pointer;
    padding: .5rem 1rem;
    display: flex;
    font-weight: 800;
    align-items: center;
    align-content: center;
}

.header-section-3 {}