<div class="header">
    <div class="header-section header-section-1">

        <div class="title">BUILDER FLOW</div>
    </div>
    <div class="header-section header-section-2">
        <ul class="menu">
            <li (click)="callSource()" *ngFor="let item of menu">
                <span>{{item.name}}</span>
            </li>
        </ul>
    </div>
    <div class="header-section header-section-3">
        <ul class="menu">
            <li (click)="callSource()" [style.opacity]="flowChartService.getFromState()?.valid ? '1' : '.5'">
                <span><i class="uil uil-save"></i> SAVE </span>
            </li>
        </ul>
    </div>
    <div class="header-section header-section-3"></div>
</div>