<div class="wrapper-node animate__animated animate__bounceIn">
    <!-- <div class="node-alert"> {{dataIn.state | json}}</div> -->
    <button (click)="removeStep(dataIn.id)" class="btn-remove">
        <app-trash></app-trash>
    </button>
    <div (click)="selectNode(dataIn)" class="node-template" [ngClass]="{'activate-node':(stateCurrent === dataIn.id)}">
        <div class="node-template-body">
            <app-modal [key]="dataIn.key" *ngIf="dataIn.state.type === 'modal'"></app-modal>
            <app-tooltip *ngIf="dataIn.state.type === 'tooltip'"></app-tooltip>

        </div>
    </div>
    <div class="node-template-zone-actions">
        <button (click)="setNode()" class="btn-add-block">
            <i class="uil uil-plus-circle"></i><span> Add Step</span>
        </button>

    </div>
</div>